<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="new_yanConnectionString" connectionString="Data Source=VON-NEUMANN-PC;Initial Catalog=new_yan;User ID=grid;Password=grid"
            providerName="System.Data.SqlClient" />
        <add name="new_yanConnectionString2" connectionString="Data Source=VON-NEUMANN-PC;Initial Catalog=new_yan;User ID=grid"
            providerName="System.Data.SqlClient" />
        <add name="new_yanConnectionString3" connectionString="Data Source=VON-NEUMANN-PC;Initial Catalog=new_yan;User ID=grid;Password=grid"
            providerName="System.Data.SqlClient" />
        <add name="new_yanConnectionString4" connectionString="Data Source=VON-NEUMANN-PC;Initial Catalog=new_yan;User ID=grid;Password=grid"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
